---
import Layout from "../layouts/BlogPost.astro";
import skelly from "../assets/about-placeholder-garden-bones.png";
---

<Layout title="About" description="Lorem ipsum dolor sit amet">
  <div class="about-container">
    <div class="upper-left-cell">
      <img
        src={skelly.src}
        alt="skeleton in a meadow"
        width={300}
        height={300}
      />
    </div>
    <!-- <div class="upper-left-cell"> -->
    <span class="text"> I have to eat every day. </span>
    <!-- </div> -->
  </div>

  <style>
    .about-container {
      display: flex;
      /* align-items: center; */
      /* justify-content: center; */
      gap: 20px;
      border: 2px solid black;
      padding: 20px;
      margin-bottom: 20px;
    }
    /* This div design part is
            used as an Image */
    .upper-left-cell {
      display: flex;
      object-fit: cover;
      width: 200px;
      /* height: 100px; */
      float: left;
    }
    .text {
      align-self: start;
    }
  </style>
</Layout>
