---
import Layout from "../layouts/BlogPost.astro";
// import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
---

<Layout title="About" description="Lorem ipsum dolor sit amet">
  <div class="about-container">
    <div class="upper-left-cell">
      <img
        width="400"
        height="100"
        src="https://www.w3schools.com/Css/pineapple.jpg"
      />
    </div>
    <!-- <div class="upper-left-cell"> -->
    <span class="text"> I have to eat every day. </span>
    <!-- </div> -->
  </div>

  <style>
    .about-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border: 2px solid black;
      padding: 20px;
      margin-bottom: 20px;
    }
    /* This div design part is
            used as an Image */
    .upper-left-cell {
      display: flex;
      object-fit: cover;
      width: 200px;
      /* height: 100px; */
      float: left;
    }
  </style>
</Layout>
